################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebsiteProject.sln
/WebsiteProject.phpproj.user
/WebsiteProject.phpproj
