html, body {
    background-color: #101010;
    font-family: Genos, serif;
    margin: 0px;
    padding: 0px;
}

.navigation_tabs {
    background-color: black;
    overflow: hidden;

    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
}

    .navigation_tabs a {
        float: right;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 60px;
    }

        .navigation_tabs a:hover {
            background-color: dimgrey;
            color: black;
        }

        .navigation_tabs a:active {
            background-color: dimgrey;
            color: black;
            transform: scale(0.95);
        }

.project_list {
    text-align: center;
    list-style-type: none;
    font-family: inherit;
}

    .project_list img {
        width: 600px;
        height: 300px;
        object-fit: cover;
    }

    .project_list h1{
        color: white;
        font-size: 60px;
        margin: 10px;
    }

    .project_list p{
        color: white;
        font-size: 30px;
    }

    .project_list a{
        font-size: 30px;
    }

h1 {
    margin: 0px;
    clear: both;
    text-align: center;
    font-family: inherit;
    color: white;
    font-size: 60px;
}

h2 {
    margin: 20px;
    clear: both;
    font-family: inherit;
    color: white;
    font-size: 40px;
}

.header_message {
    text-align: center;
    font-family: inherit;
    color: white;
    font-size: 30px;
}

p.tab {
    text-align: left;
    font-family: inherit;
}

.footer {
    background-color: floralwhite;
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 100px;
    width: 80%;
    overflow: hidden;
}

.club_banner {
    width: 100%;
    height: auto;
}

h2 {
    color: white;
    font-family: inherit;
    padding: 15px;
    margin: 0px;
}

.footerInfo {
    color: white;
    font-family: inherit;
    font-size: 30px;
    padding: 15px;
    margin: 0px;
}

.staff-cards {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding: 10px;
}

.staff-card {
    color: white;
    display: flex;
    gap:75px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size:50px;
}

.staff-title {
    padding-top: 40px;
    font-size: 60px;
}

