
html, body {
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
    border: 5px solid;
    font-family: 'Noto Serif';
}

p {
    color: black;
    text-align: center;
    font-family: 'Noto Serif';
}

.footer {
    background-color: floralwhite;
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 100px;
    width: 80%;
    overflow: hidden;
}